* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.header-content {
    background-color: #272727;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    background-color: rgb(105, 184, 159);
}

.layout-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'main aside';
    gap: 20px;
}

.main-content {
    grid-area: main;
}

.intro {
    text-align: center;
    padding: 1rem 0 0 ;
}

.articles-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 1rem;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.card img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: auto;
}

.card-text {
    padding: 0 0 1rem 1rem;
}

.btn-leer {
    display: inline-block;
    background-color: rgb(105, 184, 159);
    color: #ffffff;
    text-decoration:none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.btn-leer:hover {
    background-color: rgb(125, 218, 188);
}

.sidebar {
    grid-area: aside;
    padding: 1rem;
}

.sidebar .widget + .widget {
    margin-top: 3rem;
}

.sidebar .widget h3{
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .layout-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:    'main'
                                'aside';
    }

    .articles-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

